/* all customer pages css */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    }

/* home page css */
.home-wrapper {
width: 90%;
margin: 0 auto;
text-align: center;
}

.banner-area {
background-image: url(/static/img/homepage_banner.jpg);
background-size: cover;
background-position: center;
top: 62px;
height: 70vh;
width: 100%;
position: fixed;
left: 0;
z-index: -1;
}

.banner-area h2 {
padding-top: 8%;
font-size: 80px;
color: white;
text-align: center;
}

.content-area {
min-width: 100%;
margin-left: -1%;
margin-right: -2%;
height: 1500px;
background-color: #fff;
margin-top: 550px;
text-align: center;
}

.content-area h2 {
font-size: 40px;
margin: 0;
padding-top: 30px;
letter-spacing: 3px;
}

.content-area p {
padding: 2% 0;
line-height: 35px;
font-size: 16px;
text-align: center;
}

.impact-container {
background-color: #f5f5f5;
padding: 5px 0;
width: 90%;
text-align: center;
margin-left: 5%;
margin-bottom: 2%;
}

.icons-container {
width: 90%;
margin-left: 5%;
padding-left: 2%;
margin-top: 2%;
margin-bottom: 2%;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
gap: 1.5rem;
text-align: center;
}

.icons-container .icons {
display: flex;
align-items: center;
gap: 1.5rem;
padding: 2rem 0;
}

.icons-container .icons i {
font-size: 3.5rem;
color: #888;
margin-right: 5px;
}

.icons-container .icons h3 {
font-size: 2.2rem;
color: black;
padding-bottom: .2rem;
}

.icons-container .icons p {
font-size: 1.4rem;
line-height: 20px;
color: #666;
}

.cs-container {
padding: 5px 0;
}

.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 30px auto 60px;
	padding: 0 80px;
}
.carousel .item {
    text-align: center;
	overflow: hidden;
}
.carousel .item h4 {
	font-family: 'Varela Round', sans-serif;
	text-align: center;
}

.carousel .item p {
	line-height: 20px;
}

.carousel .item img {
	width: 100%;
	height: 55%;
	display: inline-block;
}
.carousel .item .btn {
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	background: #a177ff;
	padding: 6px 15px;
	margin-top: 5px;
}
.carousel .item .btn:hover {
	background: #8c5bff;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	margin: 5px;
	text-align: left;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
.carousel .thumb-content {
	padding: 15px;
	font-size: 13px;
}
.carousel .carousel-control {
	height: 44px;
	width: 44px;
	background: none;
    margin: auto 0;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.8);
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
    font-weight: bold;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.right i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border-color: transparent;
}
.carousel-indicators li {
	background: #ababab;
}
.carousel-indicators li.active {
	background: #555;
}

/* recycling points page css */
    #recyclingpoints-banner h2 {
    color: #666;
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-top: 5%;
    text-align: center;
    margin-bottom: -1%;
    }

/* contact page css */
    #contactus-banner h2 {
    color: #666;
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-top: 5%;
    text-align: center;
    margin-bottom: -1%;
    }

    #contactus {
    width: 100%;
    margin-left: 5%;
    padding: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    }

    #contactus .getin {
    width: 35%;
    }

    #contactus .getin h2 {
    color: #666;
    font-size: 30px;
    font-weight: 600;
    line-height: .8;
    margin-bottom: 16px;
    }

    #contactus .getin p {
    color: #686875;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
    font-size: 17px;
    }

    #contactus .getin a {
    color: #686875;
    text-decoration: none;
    }

    #contactus .getin h3 {
    color: #666;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
    }

    #contactus .getin .getin-details div {
    display: flex;
    }

    #contactus .getin .getin-details div .get {
    font-size: 17px;
    line-height: 22px;
    color: #666;
    margin-right: 20px;
    }

    #contactus .getin .getin-details div p {
    font-size: 15px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
    }

    #contactus .getin .getin-details .links i {
    margin-right: 8px;
    font-size: 18px;
    }

    #contactus .form {
    width: 50%;
    background-color: #F7F6FA;
    padding: 40px;
    border-radius: 10px;
    margin-right: 10%;
    }

    #contactus .form h4 {
    font-size: 24px;
    color: #666;
    line-height: 30px;
    margin-bottom: 8px;
    }

    #contactus .form p {
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;
    font-size: 16px;
    }

    #contactus .form .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    }

    #contactus .form .form-row input {
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color: #7E7C87;
    outline: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    }

    #contactus .form .form-col input,
    #contactus .form .form-col textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color: #7E7C87;
    outline: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    }

    #contactus .form .form-col textarea {
    height: 120px;
    }

    #contactus .form button {
    font-size: 15px;
    padding: 13px 25px;
    background-color: #666;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    }

    #contactus .form button:hover {
    background-color: #666;
    }



.recycle_top{
background-color:#FDF2E2;
height:100%;
}

.recyclebin{
width:100%;
padding: 50px 120px ;
}

#btn{
text-decoration:none;
border-radius:40px;
background:#317168;
color:white;
 margin: 0;
 padding: 8px 30px;
  position: absolute;
  top: 600;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
