/* all customer pages css */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    }

/* home page css */

/* contact page css */
    #contactus-banner h2 {
    color: #666;
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-top: 5%;
    text-align: center;
    margin-bottom: -1%;
    }

    #contactus {
    width: 100%;
    margin-left: 5%;
    padding: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    }

    #contactus .getin {
    width: 35%;
    }

    #contactus .getin h2 {
    color: #666;
    font-size: 30px;
    font-weight: 600;
    line-height: .8;
    margin-bottom: 16px;
    }

    #contactus .getin p {
    color: #686875;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
    font-size: 17px;
    }

    #contactus .getin a {
    color: #686875;
    text-decoration: none;
    }

    #contactus .getin h3 {
    color: #666;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
    }

    #contactus .getin .getin-details div {
    display: flex;
    }

    #contactus .getin .getin-details div .get {
    font-size: 17px;
    line-height: 22px;
    color: #666;
    margin-right: 20px;
    }

    #contactus .getin .getin-details div p {
    font-size: 15px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
    }

    #contactus .getin .getin-details .links i {
    margin-right: 8px;
    font-size: 18px;
    }

    #contactus .form {
    width: 50%;
    background-color: #F7F6FA;
    padding: 40px;
    border-radius: 10px;
    margin-right: 10%;
    }

    #contactus .form h4 {
    font-size: 24px;
    color: #666;
    line-height: 30px;
    margin-bottom: 8px;
    }

    #contactus .form p {
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;
    font-size: 16px;
    }

    #contactus .form .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    }

    #contactus .form .form-row input {
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color: #7E7C87;
    outline: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    }

    #contactus .form .form-col input,
    #contactus .form .form-col textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color: #7E7C87;
    outline: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    }

    #contactus .form .form-col textarea {
    height: 120px;
    }

    #contactus .form button {
    font-size: 15px;
    padding: 13px 25px;
    background-color: #666;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    }

    #contactus .form button:hover {
    background-color: #666;
    }



.recycle_top{
background-color:#FDF2E2;
padding:50px;
}

.recyclebin{
width:100%;
}

section{
position:relative;
width:100%
height:100vh;
padding:100px;
}

#btn{
text-decoration:none;
display:inline-block;
padding:8px 30px;
border-radius:40px;
background:#000;
color:#2b1055;
font-size:1.5em;
z-index:9;
transform:translateY(100px);
}