<link href="{{ url_for('static', filename='css/style_customer.css') }}" rel="stylesheet">
{% extends "customer page/customer_base.html" %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<div id="contactus-banner">
  <h2>Contact Us</h2>
</div>

<div id="contactus">
  <div class="getin">
    <h2>Get in touch</h2>
    <p>Looking for help? Fill the form and we will get in touch with you soon.</p>

    <div class="getin-details">
      <h3>Contact Number</h3>
      <div>
        <i class="fas fa-phone-alt get"></i>
        <p><a href="tel:+6561234567">+65 6123 4567</a></p>
      </div>
      <h3>Email Address</h3>
      <div>
        <i class="fas fa-envelope get"></i>
          <p><a href="mailto:email@email.com">email@email.com</a></p>
      </div>
    </div>
  </div>

  <div class="form">
    <h4>Let's Connect</h4>
    <p>Send Us A Message</p>
    <div class="form-row">
      <input type="text" placeholder="Your Name">
      <input type="text" placeholder="Your Email">
    </div>
    <div class="form-col">
      <input type="text" placeholder="Subject">
    </div>
    <div class="form-col">
      <textarea name="" id="" cols="10" rows="8" placeholder="How can we help?"></textarea>
    </div>
    <div class="form-col">
      <button>Send Message</button>
    </div>
  </div>
</div>

{% endblock %}