<link href="{{ url_for('static', filename='css/style_customer.css') }}" rel="stylesheet">
{% extends "customer page/customer_base.html" %}
{% block title %}E-cycle - Home{% endblock %}
{% block content %}
<div class="box-header">
    <div class="banner-area">
<!--        <h2>Website Name</h2>-->
    </div>

    <div class="content-area">
        <div class="home-wrapper">
            <h2>Leveraging Technologies To Mitigate Climate Change</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet gravida urna. Curabitur porttitor orci sed neque tempus consectetur. Aenean eu tempor nibh. Fusce et velit in tortor scelerisque ultricies id ut dolor. Phasellus non enim sit amet dui iaculis ornare eu eu mauris. Phasellus id ipsum dignissim, volutpat turpis eget, varius eros. Etiam non scelerisque dui. Vivamus congue aliquet elit mollis elementum. Sed eget lacus tellus. Sed eu tincidunt ligula, id ultrices ante. Quisque commodo nisi erat, ac posuere velit elementum sed. Vivamus blandit molestie tellus et suscipit.</p>
        </div>

        <div class="impact-container">
            <h3><b>Impacts of Climate Change</b></h3>
            <section class="icons-container">
                <div class="icons">
                    <i class="fas fa-paper-plane"></i>
                    <div class="content">
                        <h3>Water Resources</h3>
                        <p>Challenges in management<br>of water resources</p>
                    </div>
                </div>

                <div class="icons">
                    <i class="fas fa-lock"></i>
                    <div class="content">
                        <h3>Biodiversity</h3>
                        <p>Natural diversity of plants<br>and animals at risk</p>
                    </div>
                </div>

                <div class="icons">
                    <i class="fas fa-redo-alt"></i>
                    <div class="content">
                        <h3>Food Security</h3>
                        <p>Threatening global<br>food security</p>
                    </div>
                </div>

                <div class="icons">
                    <i class="fas fa-headset"></i>
                    <div class="content">
                        <h3>Public Health</h3>
                        <p>Endemic vector-borne diseases<br>such as dengue</p>
                    </div>
                </div>
            </section>
        </div>

          <div class="cs-container">
          <h3><b>Environment - Recycling & Waste</b></h3>
          <p>See the pros and cons of everything from recycling to zero-waste – and find tips to reduce <br> the trash and plastic that goes in landfills and incinerators.</p>
            <div class="row">
                <div class="col-md-10 col-center">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/static/img/home_c1.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4><b>Options for Recycling TVs</b></h4>
                                            <p>Find a center near you that will recycle your TV!</p>
                                            <a href="https://www.treehugger.com/tv-recycling-5195005" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/static/img/home_c2.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4><b>Ways of Recycling Light Bulbs</b></h4>
                                            <p>You can use your old light bulbs to hold air plants.</p>
                                            <a href="https://www.treehugger.com/light-bulb-recycling-5206232" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/static/img/home_c3.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4><b>Recycling Textiles</b></h4>
                                            <p><b>Give new life to old clothes by recycling textiles.</b></p>
                                            <a href="https://www.treehugger.com/textile-recycling-5203438" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/static/img/home_c4.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                        <h4><b>Recycle Appliances</b></h4>
                                            <p>Learn how to recycle refrigerators, stoves and more.</p>
                                            <a href="https://www.treehugger.com/textile-recycling-5203438" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/static/img/home_c5.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4><b>Shoe Recycling Guide</b></h4>
                                            <p>Learn how to recycle sneakers, sandals and more.</p>
                                            <a href="https://www.treehugger.com/shoe-recycling-guide-5194664" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/static/img/home_c6.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4><b>Recycling Moving Boxes</b></h4>
                                            <p>Do you know that moving boxes are recyclable?</p>
                                            <a href="https://www.treehugger.com/how-to-recycle-moving-boxes-5204078" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/static/img/home_c7.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4><b>Recycling Packing Peanuts</b></h4>
                                            <p>Some colors of packing peanuts are recyclable!</p>
                                            <a href="https://www.treehugger.com/can-you-recycle-packing-peanuts-5202952" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/static/img/home_c8.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4><b>Scrap Metal Recycling</b></h4>
                                            <p>There are different options for recycling scrap metal.</p>
                                            <a href="https://www.treehugger.com/scrap-metal-recycling-5194160" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/static/img/home_c9.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4><b>Recycle Old Cell Phones</b></h4>
                                            <p>Do you have any old and unwanted cell phones?</p>
                                            <a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}