<link href="{{ url_for('static', filename='css/style_customer_navbar.css') }}" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <title>Title</title>
</head>
<body>
     <nav class="navbar navbar-default navbar-expand-lg navbar-light" id="nav-bar">
      <div class="navbar-header">
          <div class="logo-details">
            <i class='bx bx-recycle'></i>
            <span class="logo_name">E-cycle</span>
          </div>
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <!-- Collection of nav links, forms, and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
<!--              <li class="dropdown">-->
<!--                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Services</a>-->
<!--                  <ul class="dropdown-menu">-->
<!--                      <li><a href="#">Web Design</a></li>-->
<!--                      <li><a href="#">Web Development</a></li>-->
<!--                      <li><a href="#">Graphic Design</a></li>-->
<!--                      <li><a href="#">Digital Marketing</a></li>-->
<!--                  </ul>-->
<!--              </li>-->
              <li><a href="/recycling_page">Start Recycle</a></li>
              <li><a href="/recycling_point">Find Recycling Points</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/trees">Trees (will delete ltr)</a></li>
          </ul>
          <form class="navbar-form form-inline">
              <div class="input-group search-box">
                  <input type="text" id="search" class="form-control" placeholder="Search here...">
                  <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
              </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a data-toggle="dropdown" href="#">Login</a>
                  <ul class="dropdown-menu login-form">
                      <li>
                          <form action="/examples/actions/confirmation.php" method="post">
                              <div class="form-group">
                                  <label>Username</label>
                                  <input type="text" class="form-control" required="required">
                              </div>
                              <div class="form-group">
                                  <div class="clearfix">
                                      <label>Password</label>
                                      <a href="#" class="pull-right text-muted"><small>Forgot?</small></a>
                                  </div>

                                  <input type="password" class="form-control" required="required">
                              </div>
                              <input type="submit" class="btn btn-primary btn-block" value="Login">
                          </form>
                      </li>
                  </ul>
              </li>
              <li><a href="#" class="btn btn-primary mt-1.5 mb-2">Create Account</a></li>
          </ul>
        </div>
     </nav>

    <script>
      // Prevent dropdown menu from closing when click inside the form
      $(document).on("click", ".navbar-right .dropdown-menu", function(e){
          e.stopPropagation();
      });
    </script>
</body>