<link href="{{ url_for('static', filename='css/style_customer.css') }}" rel="stylesheet">
{% extends "customer page/customer_base.html" %}
{% block title %}Title{% endblock %}
{% block content %}
<div class="box-header">
    <div class="banner-area">
<!--        <h2>Website Name</h2>-->
    </div>

    <div class="content-area">
        <div class="home-wrapper">
            <h2>Leveraging Technologies To Mitigate Climate Change</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet gravida urna. Curabitur porttitor orci sed neque tempus consectetur. Aenean eu tempor nibh. Fusce et velit in tortor scelerisque ultricies id ut dolor. Phasellus non enim sit amet dui iaculis ornare eu eu mauris. Phasellus id ipsum dignissim, volutpat turpis eget, varius eros. Etiam non scelerisque dui. Vivamus congue aliquet elit mollis elementum. Sed eget lacus tellus. Sed eu tincidunt ligula, id ultrices ante. Quisque commodo nisi erat, ac posuere velit elementum sed. Vivamus blandit molestie tellus et suscipit.</p>
        </div>
    </div>
</div>

<style>
.home-wrapper {
width: 90%;
margin: 0 auto;
text-align: center;
}

.banner-area {
background-image: url(static/img/home_banner.jpg);
background-size: cover;
background-position: center;
top: 62px;
height: 70vh;
width: 100%;
position: fixed;
left: 0;
z-index: -1;
}

.banner-area h2 {
padding-top: 8%;
font-size: 80px;
color: white;
text-align: center;
}

.content-area {
min-width: 100%;
margin-left: -1%;
margin-right: -2%;
height: 800px;
background-color: #fff;
position: relative;
top: 550px;
text-align: center;
}

.content-area h2 {
font-size: 40px;
margin: 0;
padding-top: 30px;
letter-spacing: 3px;
}

.content-area p {
padding: 2% 0;
line-height: 35px;
font-size: 16px;
text-align: center;
}


</style>
{% endblock %}