{% extends "customer page/customer_base.html" %}
{% block title %}rewards display{% endblock %}
{% block content %}
{% block navbar %}
{% include 'customer page/customer_sidebar.html' %}
{% endblock %}

<html>

<body>
<div class="tabpane " id="productpanel" style="margin-left: 550px; width: 600px; margin-top: 20px;" >
    <h1 class="display-4" style="font-size:30px;"> Your Rewards </h1>
  <center>
  <table class="table table-striped"  >
    <tbody>

      <tr>
        <td> koi voucher 10$ <img src="https://adventus.com/resources/ck/images/success/KOI%20logo1%20-%20Copy.png" style="width: 150px; height: 150px; margin-left: 50px; "></td>
        <td> grab voucher 20$ <img src="https://tse1.mm.bing.net/th?id=OIP.VrTV-ON24sxf6erQgUpbJwHaHa&pid=Api&P=0" style="width: 150px; height: 150px; margin-left: 50px; "></td>
      </tr>
      <tr>
        <td> Mcdonald voucher $5 <img src="https://tse3.mm.bing.net/th?id=OIP.iniesGYqglLPp2l8tqujsgHaHa&pid=Api&P=0" style="width: 150px; height: 150px; margin-left: 50px; "></td>
        <td> cash voucher $50 <img src="https://tse2.mm.bing.net/th?id=OIP.PixA9ev562X4NErgGJcnuAHaHY&pid=Api&P=0" style="width: 150px; height: 150px; margin-left: 50px; "></td>
      </tr>

    </tbody>
  </table>
</div>
{% endblock %}



