{% extends 'layouts/base.html' %}
{% block content %}
<div class="container">
   <div class="row mt-4">
       <h3 class="mb-4">View Notes</h3>

       {% for i in notes %}

       <div class="col-4">
           <div class="col-12 shadow p-3 mb-5 bg-white rounded">
               <b>{{ notes[i]["subject"] }}</b>
               <p>{{ notes[i]["content"] }}</p>
               <br>
               <p class="m-0">Created On: <b>{{ notes[i]["date_created"] }}</b></p>
               <p>Updated On: <b>{{ notes[i]["date_updated"] }}</b></p>


               <form action="/delete" class="d-inline-block" method="POST">
                   <input type="hidden" name="uuid" value="{{ notes[i]['id'] }}">
                   <button type="submit" class="btn btn-danger">Delete</button>
               </form>


               <a class="btn btn-warning d-inline-block" href="/update/{{ notes[i]['id'] }}">Update</a>
           </div>
       </div>

       {% endfor %}

   </div>
</div>
{% endblock content %}
