<link href="{{ url_for('static', filename='css/style_customer.css') }}" rel="stylesheet">
{% extends "customer page/customer_base.html" %}
{% block title %}Title{% endblock %}
{% block content %}
<body >

<div
      class="container-fluid vh-100"
style="background-color:#FDF2E2;"
    >
    <div class=" d-flex justify-content-center " style=" margin-top:10%;">
    <div class="bg-warning " style="width: 500px; height: auto; padding:20px;"><h2>Thank you for submitting the form! Your application is being processed within 2 to 3 days.</h2></div>
    </div></div>

</body>

{% endblock %}