<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-cycle - Start Recycle</title>
</head>
<body>

</body>{% extends "customer page/customer_base.html" %}
{% block title %}Recycling Form{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="container-fluid vh-100">
   <div class="row h-100 justify-content-center align-items-center">
       <div class="col-lg-3 col-md-2 "></div>
       <div class="col-lg-6 col-md-8 mt-4">
           <h3 class="mb-5">Waste Recycling Form</h3>
           <form class="row g-3 shadow p-3 mb-5 bg-white rounded" method="POST" action="{{url_for('create_form')}}" autocomplete="off" enctype="multipart/form-data">
               <div class="col-12">
                   <label for="location" class="form-label">Recycling Point</label>
                   <input type="text" required class="form-control" id="location" name="location" required>
               </div>
             <div class="col-12">
                   <input type="radio"  class="" id="type1" name="type" value="Plastic" required>
                    <label   class="form-label">Plastic</label>
                 <input type="radio"  class="" id="type2" name="type" value="Paper" required>
                    <label  class="form-label">Paper</label>
                 <input type="radio"  class="" id="type3" name="type" value="Glass" required>
                    <label  class="form-label">Glass</label>
                 <input type="radio"  class="" id="type4" name="type" value="Metal" required>
                    <label  class="form-label">Metal</label>
                 <input type="radio"  class="" id="type5" name="type" value="Other" required>
                    <label  class="form-label">Other</label>
             </div>
               <div class="col-12">
                   <label  class="form-label">Weight of Item: (kg)</label>
                   <input  type="text" class="form-control" id="weight" name="weight"
                              required>
               </div>
               <div class="col-12">
                   <label  class="form-label">Please briefly describe the recycled item.</label>
                   <textarea rows="3" type="text" class="form-control" id="description" name="description"
                              required></textarea>
               </div>
                <div class="col-12 " >
                        <input  accept="image/*"  id="profile_img" name="img1" type="file"  required>
<img src=""  id="profile-img-tag-1" alt=""  style="width:auto;margin:10px 100px;border-style: none;border:0px; " class="col-2">
                    </div>
               <div class="col-12">
                   <button class="btn btn-secondary" type="submit">Submit</button>
               </div>
           </form>
       </div>
       <div class="col-lg-3 col-md-2"></div>
   </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
const img1 = document.getElementById("profile_img");

const img2 = document.getElementById("profile-img-2");

const img3 = document.getElementById("profile-img-3");



img1.addEventListener("change", function () {
  getImgData1();
});
img2.addEventListener("change", function () {
  getImgData2();
});
img3.addEventListener("change", function () {
  getImgData3();
});


    function getImgData1() {
  const files = img1.files[0];
  if (files) {
    const fileReader = new FileReader();
    fileReader.readAsDataURL(files);
    fileReader.addEventListener("load", function () {
      $('#profile-img-tag-1').attr('src', this.result);
      $("#profile-img-tag-1").css("height","150px");
    });
  }
}

  function getImgData2() {
  const files = img2.files[0];
  if (files) {
    const fileReader = new FileReader();
    fileReader.readAsDataURL(files);
    fileReader.addEventListener("load", function () {
      $('#profile-img-tag-2').attr('src', this.result);
      $("#profile-img-tag-2").css("height","150px");
    });
  }
}

  function getImgData3() {
  const files = img3.files[0];
  if (files) {
    const fileReader = new FileReader();
    fileReader.readAsDataURL(files);
    fileReader.addEventListener("load", function () {
      $('#profile-img-tag-3').attr('src', this.result);
       $("#profile-img-tag-3").css("height","150px");
    });
  }
}




</script>
{% endblock %}

</html>