{% extends "customer page/customer_base.html" %}
{% block title %}Records{% endblock %}

{% block content %}
<body>
<h2>hello</h2>
<div class="container " >
    <div class="m-5">
  <table class="table">
            <thead>
            <tr>
                <th>Form ID</th>
                <th>Date created</th>
                <th>Recycling point</th>
                <th>Recycle Type</th>
                <th>Weight of Item</th>
                <th>Description of item</th>
                <th>Picture for Verification</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for item in records_list %}
            <tr style="text-align: center;">
                <td>{{ item["id"] }}</td>
                <td>{{ item["date_created"] }}</td>
                <td>{{ item["location"] }}</td>
                <td>{{ item["type"] }}</td>
                <td>{{item["weight"] }}</td>
                <td>{{ item["description"] }}</td>
                <td><img alt="{{item ['profile_img'] }}" src="{{url_for('static',filename='img/upload_img/'+ item ['profile_img'])}}"
                     width=auto height="150px"></td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</body>
{% endblock %}