<link href="{{ url_for('static', filename='css/style_customer.css') }}" rel="stylesheet">
{% extends "customer page/customer_sidebar.html" %}
{% block title %}{% endblock %}
{% block content %}
<div id="trees">
  <h2>Your Trees</h2>
  <img src="static/img/seed.jpeg">
  <a href="/recycling_form" ><button id="trees_button">Recycling?</button></a>
</div>

<style>
  div{
    display: inline-block;
  }
  h2{
    margin: 70px 0px 0px 70px;
  }
  #trees_button{
    margin-top: 1rem;
    display: block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background-color: #04AA6D;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
    margin-left: 100px;
  }
  #trees_button:hover{
    background-color: #219150;
    color: #fff;
  }
</style>
{% endblock %}