<link href="{{ url_for('static', filename='css/style_customer.css') }}" rel="stylesheet">
{% extends "customer page/customer_base.html" %}
{% block title %}Users information{% endblock %}

{% block content %}
{% block navbar %}
{% include 'customer page/customer_sidebar.html' %}
{% endblock %}
<!--<div class="all-trees">-->
<!--  <div class="trees">-->
<!--    <h2>Your Trees</h2>-->
<!--    <div id="tree1" class="treebox">-->
<!--      <img src="static/img/seed.jpeg">-->
<!--      <a href="/recycling_form" ><button class="trees_button">Recycling?</button></a>-->
<!--    </div>-->
<!--    <div id="tree2" class="treebox">-->
<!--      <img src="static/img/adult plant.jpeg">-->
<!--    </div>-->
<!--    <div id="tree3" class="treebox">-->
<!--      <img src="static/img/adult plant.jpeg">-->
<!--    </div>-->
<!--    <div id="tree4" class="treebox">-->
<!--      <img src="static/img/adult plant.jpeg">-->
<!--    </div>-->
<!--    <div id="tree5" class="treebox">-->
<!--      <img src="static/img/adult plant.jpeg">-->
<!--    </div>-->
<!--    <div id="tree6" class="treebox">-->
<!--      <img src="static/img/adult plant.jpeg">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="all-trees">
  <h2>Your Trees</h2>
  <div class="row">
  <div class="column">
    <img src="static/img/seed.jpeg">
    <a href="/recycling_form" ><button class="trees_button">Recycling?</button></a>
  </div>
  <div class="column">
    <img src="static/img/adult plant.jpeg">
  </div>
  <div class="column">
    <img src="static/img/adult plant.jpeg">
  </div>
  <div class="column">
    <img src="static/img/adult plant.jpeg">
  </div>
  <div class="column">
    <img src="static/img/adult plant.jpeg">
  </div>
  <div class="column">
    <img src="static/img/adult plant.jpeg">
  </div>
</div>
</div>


<style>
.row {
display: flex;
}

.column {
  flex: 33.33%;
  padding: 15px;
}

img {
border-radius: 5px;
}

.all-trees {
margin-left: 25%;
}

a {
text-decoration: none;
}

h2{
  margin: -20px 0px 30px 70px;
  margin-left: -0.5%;
}

.trees_button{
  margin-top: 1rem;
  display: block;
  padding: .9rem 3rem;
  border-radius: .5rem;
  color: #fff;
  background-color: #04AA6D;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 95px;
}

.trees_button:hover{
  background-color: #219150;
  color: #fff;
}
</style>
{% endblock %}