<link href="{{ url_for('static', filename='css/style_customer.css') }}" rel="stylesheet">
{% extends "customer page/customer_base.html" %}
{% block title %}Users information{% endblock %}

{% block content %}
{% block navbar %}
{% include 'customer page/customer_sidebar.html' %}
{% endblock %}
<h2>Your Trees</h2>
<div class="all-trees">
  <div id="tree1">
    <img src="static/img/seed.jpeg">
    <a href="/recycling_form" ><button class="trees_button">Recycling?</button></a>
  </div>
  <div id="tree2">
    <img src="static/img/seed.jpeg">
    <a href="/recycling_form" ><button class="trees_button">Recycling?</button></a>
  </div>
  <div id="tree3">
    <img src="static/img/seed.jpeg">
    <a href="/recycling_form" ><button class="trees_button">Recycling?</button></a>
  </div>
  <div id="tree4">
    <img src="static/img/seed.jpeg">
    <a href="/recycling_form" ><button class="trees_button">Recycling?</button></a>
  </div>
  <div id="tree5">
    <img src="static/img/seed.jpeg">
    <a href="/recycling_form" ><button class="trees_button">Recycling?</button></a>
  </div>
  <div id="tree6">
    <img src="static/img/seed.jpeg">
    <a href="/recycling_form" ><button class="trees_button">Recycling?</button></a>
  </div>
</div>


<style>
  .all-trees {
  margin-left: 25%;
  }

  h2{
    margin: 70px 0px 0px 70px;
  }

  a {
  text-decoration: none;
  }

  .trees_button{
    margin-top: 1rem;
    display: block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background-color: #04AA6D;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
    margin-left: 100px;
  }
  .trees_button:hover{
    background-color: #219150;
    color: #fff;
  }
</style>
{% endblock %}