<link href="{{ url_for('static', filename='css/style_staff.css') }}" rel="stylesheet">
{% extends "staff page/staff_base.html" %}
{% block title %}E-Cycle - Dashboard{% endblock %}
{% block content %}
<!--<section class="home-section">-->
<!--    <div class="home-content">-->
<!--      <span class="text">Dashboard</span>-->
<!--    </div>-->
<!--</section>-->

<section id="interface">
    <div class="navigation">
        <div class="n1">
            <div class="search">
                <i class="far fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
        </div>

        <div class="n2">
            <i class="far fa-bell"></i>
        </div>
    </div>
</section>

<style>

</style>
{% endblock %}

