<link href="{{ url_for('static', filename='css/style_staff.css') }}" rel="stylesheet">
{% extends "staff page/staff_base.html" %}
{% block title %}E-Cycle - Dashboard{% endblock %}
{% block content %}
<section id="interface">
    <div class="navigation">
        <div class="n1">
            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
        </div>

        <div class="n2">
            <i class="far fa-bell"></i>
        </div>
    </div>

    <h3 class="i-name">
        Dashboard
    </h3>

    <div class="values">
        <div class="val-box">
            <i class="fas fa-users"></i>
            <div>
                <h3>267</h3>
                <span>New Users</span>
            </div>
        </div>
        <div class="val-box">
            <i class="fa fa-box"></i>
            <div>
                <h3>5,542</h3>
                <span>Items Collected</span>
            </div>
        </div>
        <div class="val-box">
            <i class="fa fa-tree"></i>
            <div>
                <h3>1,521</h3>
                <span>Trees Planted</span>
            </div>
        </div>
        <div class="val-box">
            <i class="fa fa-gift"></i>
            <div>
                <h3>526</h3>
                <span>Rewards Used</span>
            </div>
        </div>
    </div>

    <div class="collected-items">
        <div class="recent-item-box">
            <div class="ci-title">Recent Collected Items</div>
            <div class="ci-details">
                <ul class="ind-details">
                    <li class="topic">Date</li>
                    <li><a href="#">01 Sep 2022</a></li>
                    <li><a href="#">28 Aug 2022</a></li>
                    <li><a href="#">25 Aug 2022</a></li>
                    <li><a href="#">22 Aug 2022</a></li>
                    <li><a href="#">17 Aug 2022</a></li>
                    <li><a href="#">13 Aug 2022</a></li>
                    <li><a href="#">08 Aug 2022</a></li>
                </ul>
                <ul class="ind-details">
                    <li class="topic">Customer Name</li>
                    <li><a href="#">Amanda</a></li>
                    <li><a href="#">Bryan</a></li>
                    <li><a href="#">Catherine</a></li>
                    <li><a href="#">Doreen</a></li>
                    <li><a href="#">Erica</a></li>
                    <li><a href="#">Felicia</a></li>
                    <li><a href="#">Germaine</a></li>
                </ul>
                <ul class="ind-details">
                    <li class="topic">Collection Status</li>
                    <li><a href="#">Collected</a></li>
                    <li><a href="#">Not Collected</a></li>
                    <li><a href="#">Collected</a></li>
                    <li><a href="#">Not Collected</a></li>
                    <li><a href="#">Collected</a></li>
                    <li><a href="#">Collected</a></li>
                    <li><a href="#">Not Collected</a></li>
                </ul>
                <ul class="ind-details">
                    <li class="topic">No. of Items</li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div>
            <div class="see-all-btn">
                <a href="#">See All</a>
            </div>
        </div>
        <div class="top-item-box">
            <div class="ci-title">Top Recycled Items</div>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/plastic.png" alt="">
                        <span class="item-name">Plastic</span>
                    </a>
                    <span class="total-item">250 Collected</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/metals.png" alt="">
                        <span class="item-name">Metal</span>
                    </a>
                    <span class="total-item">210 Collected</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/newspaper.png" alt="">
                        <span class="item-name">Paper</span>
                    </a>
                    <span class="total-item">170 Collected</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/glass.png" alt="">
                        <span class="item-name">Glass</span>
                    </a>
                    <span class="total-item">150 Collected</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/ewaste.png" alt="">
                        <span class="item-name">E-Waste</span>
                    </a>
                    <span class="total-item">110 Collected</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/clothes.png" alt="">
                        <span class="item-name">Clothes</span>
                    </a>
                    <span class="total-item">90 Collected</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/cardboard.png" alt="">
                        <span class="item-name">Cardboards</span>
                    </a>
                    <span class="total-item">70 Collected</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/shoes.png" alt="">
                        <span class="item-name">Shoes</span>
                    </a>
                    <span class="total-item">40 Collected</span>
                </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}