<link href="{{ url_for('static', filename='css/style_staff.css') }}" rel="stylesheet">
{% extends "staff page/staff_base.html" %}
{% block title %}E-Cycle - Dashboard{% endblock %}
{% block content %}
<section id="interface">
    <div class="navigation">
        <div class="n1">
            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
        </div>

        <div class="n2">
            <i class="far fa-bell"></i>
        </div>
    </div>

    <h3 class="i-name">
        Dashboard
    </h3>

    <div class="values">
        <div class="val-box">
            <i class="fas fa-users"></i>
            <div>
                <h3>8,267</h3>
                <span>New Users</span>
            </div>
        </div>
        <div class="val-box">
            <i class="fas fa-users"></i>
            <div>
                <h3>215,542</h3>
                <span>Items Collected</span>
            </div>
        </div>
        <div class="val-box">
            <i class="fas fa-users"></i>
            <div>
                <h3>200,521</h3>
                <span>Trees Planted</span>
            </div>
        </div>
        <div class="val-box">
            <i class="fas fa-users"></i>
            <div>
                <h3>5,267</h3>
                <span>Rewards Used</span>
            </div>
        </div>
    </div>

    <div class="collected-items">
        <div class="recent-item-box">
            <div class="ci-title">Recent Collected Items</div>
            <div class="ci-details">
                <ul class="ind-details">
                    <li class="topic">Date</li>
                    <li><a href="#">01 Sep 2022</a></li>
                    <li><a href="#">01 Sep 2022</a></li>
                    <li><a href="#">01 Sep 2022</a></li>
                    <li><a href="#">01 Sep 2022</a></li>
                    <li><a href="#">01 Sep 2022</a></li>
                    <li><a href="#">01 Sep 2022</a></li>
                    <li><a href="#">01 Sep 2022</a></li>
                </ul>
                <ul class="ind-details">
                    <li class="topic">Customer Name</li>
                    <li><a href="#">Customer A</a></li>
                    <li><a href="#">Customer B</a></li>
                    <li><a href="#">Customer C</a></li>
                    <li><a href="#">Customer D</a></li>
                    <li><a href="#">Customer E</a></li>
                    <li><a href="#">Customer F</a></li>
                    <li><a href="#">Customer G</a></li>
                </ul>
                <ul class="ind-details">
                    <li class="topic">Collection Status</li>
                    <li><a href="#">Collected</a></li>
                    <li><a href="#">Not Collected</a></li>
                    <li><a href="#">Collected</a></li>
                    <li><a href="#">Not Collected</a></li>
                    <li><a href="#">Collected</a></li>
                    <li><a href="#">Collected</a></li>
                    <li><a href="#">Not Collected</a></li>
                </ul>
                <ul class="ind-details">
                    <li class="topic">No. of Items</li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div>
            <div class="see-all-btn">
                <a href="#">See All</a>
            </div>
        </div>
        <div class="top-item-box">
            <div class="ci-title">Top Recycled Items</div>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/home_c1.png" alt="">
                        <span class="item-name">Plastic</span>
                    </a>
                    <span class="total-item">120 Collected</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/home_c1.png" alt="">
                        <span class="item-name">Metal</span>
                    </a>
                    <span class="total-item">120 Collected</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/home_c1.png" alt="">
                        <span class="item-name">Paper</span>
                    </a>
                    <span class="total-item">120 Collected</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/home_c1.png" alt="">
                        <span class="item-name">Glass</span>
                    </a>
                    <span class="total-item">120 Collected</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/home_c1.png" alt="">
                        <span class="item-name">E-Waste</span>
                    </a>
                    <span class="total-item">120 Collected</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="/static/img/home_c1.png" alt="">
                        <span class="item-name">Clothes</span>
                    </a>
                    <span class="total-item">120 Collected</span>
                </li>
            </ul><ul>
                <li>
                    <a href="#">
                        <img src="/static/img/home_c1.png" alt="">
                        <span class="item-name">Cardboards</span>
                    </a>
                    <span class="total-item">120 Collected</span>
                </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}